@import 'tailwindcss';

@theme {
  --color-black: oklch(0.25 0 0 / 1);
  --color-white: oklch(0.9 0 0 / 1);
  --color-green: oklch(0.91 0.25 132 / 1);
  --font-sans:
    'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
